<h1>{{title}}</h1>
<h2> Lugares </h2>

<div class="card-group">
  <div class="card">
    <img src="/assets/image1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lotte World Tower Seúl República De Corea Corea</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
  </div>
  <div class="card">
    <img src="/assets/image2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paisajes</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card">
    <img src="/assets/image3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Montañas</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

    </div>
  </div>
</div>
<br>
<br>
<app-tabla-precio></app-tabla-precio>
