<footer>

  &COPY;2021- Julia González

  <div class="sociales">
    <a href="https://www.spotify.com/ar/" target="_blank"> <i class="fab fa-spotify"></i></a>
    <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/explore" target="_blank"> <i class="fab fa-twitter"></i></a>
    <a href="https://es-la.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a>
    <a href="https://desktop.telegram.org/" target="_blank"><i class="fab fa-telegram"></i></a>
  </div>

</footer>
