footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  text-align: center;
  font-family: IBM Plex Mono, monospace;
  font-size: 14px;
  color: #bd1717;
  letter-spacing: 0px;
  line-height: 22px;
}
footer .sociales {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
footer .sociales a {
  color: #bd1717;
}


  footer i {
    padding-right: 20px;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


